/*mq*/
/*mq tablet*/

@media screen and (min-width:600px){

    //html index
    .carousel{
        width: 100%;
        max-height: 400px;
        overflow: hidden;
    }

    .carousel-caption{
        .tit-carousel {
            font-size: 35px;
        }
    }

    .descripcion{
        display: block;
    }

    //html nosotros
    
    .img-cont{
        width: 100%;
        max-height: 200px;
        overflow: hidden;
    }

    .text-vision-mision{
        flex-direction: row; 
    }

    .cuadro-text{
        flex: 1;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0;
   }
   
    main{
        div{
            ul{
                font-size: 18px;
            }

        }
    }

    //html de servicios
    .list-serv-arti .servicios-articulos{
        width: calc(50% - 20px);
    }

    //html de blog
    .arti{
        display: block;
        text-align: justify;
        margin-bottom: 15px;
    }

    .list-serv-arti .servicios-articulos{
        width: calc(50% - 20px);
    }

    .boton-mas-articulo{
        display: none;
    }

}


/*mq desktop*/
@media screen and (min-width:1024px){
   
    //html index*
    .carousel{
        width: 100%;
        max-height: 450px;
        overflow: hidden;
    }

    .carousel-caption{
        .tit-carousel{
            font-size: 50px;
        
        }
    }

    //html nosotros

    .img-cont{
        width: 100%;
        max-height: 250px; 
        overflow: hidden;
    }

    main{
        div{
            ul{
                font-size: 30px;
            }

        }
    }

    //html de servicios*
    .list-serv-arti .servicios-articulos{
        width: calc(33.33% - 20px);
    }

    //html de blog
    .list-serv-arti .servicios-articulos{
        width: calc(33.33% - 20px);
    }
}